:root {
  /* Primaire kleuren */
  --oranje: rgb(234, 91, 12); /* Toren Oranje */
  --donkerblauw: rgb(51, 52, 103); /* Paars blauw */
  --groen: rgb(142, 163, 75); /* Mos groen */
  --zeegroen: rgb(8, 91, 100); /* Zee */
  --grijsbruin: rgb(105, 96, 79); /* Modder */
  --lichtblauw: rgb(180, 189, 208); /* Lucht blauw */

  /* Secundaire kleuren */
  --donkergroen: rgb(41, 89, 63); /* Bos */
  --gras: rgb(106, 164, 38); /* Gras */
  --roze: rgb(249, 193, 157); /* Kauwgom */
  --grijs: rgb(188, 181, 172); /* Steen */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* ======== HEADER ======== */
header {
  position: sticky;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */

  padding: 8px 24px;

  border-bottom: solid black 1px;
  background-color: white;
}

header img {
  width: auto;
  height: 4em;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  /* justify-content: center; */
  gap: 16px;

  margin: 0;
  padding: 0;
  padding-left: 16px;

  list-style: none;
}

header nav li {
  flex-grow: 1;
  min-width: 5em;
  max-width: 9em;

  border-radius: 10px;
}

header nav a {
  display: block;
  text-align: center;

  line-height: 4em;
  text-decoration: none;
  color: white;

  background: var(--donkerblauw);
}
