/* ======== KLEUREN ======== */

html {
  /* Primaire kleuren */
  --oranje: rgb(234, 91, 12); /* Toren Oranje */
  --donkerblauw: rgb(51, 52, 103); /* Paars blauw */
  --groen: rgb(142, 163, 75); /* Mos groen */
  --zeegroen: rgb(8, 91, 100); /* Zee */
  --grijsbruin: rgb(105, 96, 79); /* Modder */
  --lichtblauw: rgb(180, 189, 208); /* Lucht blauw */

  /* Secundaire kleuren */
  --donkergroen: rgb(41, 89, 63); /* Bos */
  --gras: rgb(106, 164, 38); /* Gras */
  --roze: rgb(249, 193, 157); /* Kauwgom */
  --grijs: rgb(188, 181, 172); /* Steen */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

/* ======== HEADER ======== */

header {
  position: sticky;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  border-bottom: solid black 1px;
  background-color: white;

  a img {
    width: auto;
    height: 2em;
    object-fit: contain;
  }

  nav {
    flex-grow: 1;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;

      @media (min-width: 940px) {
        justify-content: end;
      }

      margin: 0;
      padding: 0;
      padding-left: 16px;

      list-style: none;

      li {
        &.active {
          font-weight: bold;
        }

        a {
          display: block;
          text-align: center;

          font-size: 1.5em;
          text-decoration: none;
          color: var(--donkerblauw);

          &:hover {
            color: #551a8b;
            text-decoration: underline;
            text-underline-offset: 0.25em;
          }
        }
      }
    }
  }
}

main {
  padding: 1rem;
  max-width: 750px;
  margin: auto;
}

/* ======== OPMAAK TEKST ======== */

/* Kop (verticale tekst) */
span {
  font-size: 3.5rem;
  color: var(--donkerblauw);
}

/* EERSTE Subkop en ANDERE Subkoppen ('kop' per pagina) */
h1,
h2 {
  font-size: 2.25rem;
  color: var(--donkerblauw);
}

/* Intro (dikgedrukt onder subkop) */
h3 {
  font-size: 1.5rem;
}

/* Headers met dezelfde grootte als inhoud artikelen (p) */
h4,
p {
  font-size: 1.25rem;
}

/* Gekleurd blok met quote */
blockquote {
  font-size: 2rem;
  color: white;
}

/* Tekst onder afbeelding */
figcaption {
  font-size: 1rem;
}

/* ======== GENERAL ======== */

img {
  max-width: 100%;
}

.img-klein {
  max-width: 500px;
  margin: 0;
}

.img-groot {
  max-width: 1000px;
  margin: 0;
}

.blockquote-oranje {
  width: 100%;
  max-width: 375px;
  padding: 0.5em;
  border-radius: 10em;

  text-align: center;
  background-color: var(--oranje);

  margin: auto;
}

.blockquote-zeegroen {
  background-color: var(--zeegroen);
}

/* ======== ALGEMEEN-PAGINA ======== */

.figcaption-p2 {
  color: var(--oranje);
}

h4 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}
